Django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytest==9.1.1
pytest-django==4.14.0

# dev
ruff==0.16.3
